### GEOMETRY

/Geometry/OpticalTest/gas              enrichedXe
/Geometry/OpticalTest/gas_pressure     10. bar
/Geometry/OpticalTest/gas_temperature  303. kelvin

/Geometry/OpticalTest/setup_radius     10. cm


/Geometry/OpticalTest/verbosity   true

/Geometry/OpticalTest/setup_vis   true
/Geometry/OpticalTest/sensors_vis false


### GENERATOR
# Scint generator
#/Generator/ScintGenerator/region AD_HOC
#/Geometry/OpticalTest/specific_vertex_X 0. mm
#/Geometry/OpticalTest/specific_vertex_Y 0. mm
#/Geometry/OpticalTest/specific_vertex_Z 5. mm
## (Kripton: 1046, 1MeV: 25510, Qbb: 62704)
#/Generator/ScintGenerator/nphotons 1000

# Single Particle
/Generator/SingleParticle/region         AD_HOC
/Geometry/OpticalTest/specific_vertex_X  0. mm
/Geometry/OpticalTest/specific_vertex_Y  0. mm
/Geometry/OpticalTest/specific_vertex_Z  5. mm
/Generator/SingleParticle/momentum_X     0.
/Generator/SingleParticle/momentum_Y     0.
/Generator/SingleParticle/momentum_Z     -1.
#/Generator/SingleParticle/particle       geantino
/Generator/SingleParticle/particle       opticalphoton
#/Generator/SingleParticle/min_energy     7.20625 eV
#/Generator/SingleParticle/max_energy     7.20625 eV
/Generator/SingleParticle/min_energy     2.9 eV
/Generator/SingleParticle/max_energy     2.9 eV


### ACTIONS
#/Actions/DefaultEventAction/energy_threshold 2.3 MeV


### PHYSICS
#/process/optical/scintillation/setTrackSecondariesFirst true
/PhysicsList/Nexus/clustering           false
/PhysicsList/Nexus/drift                false
/PhysicsList/Nexus/electroluminescence  false


### VERBOSITY
/control/verbose   0
/run/verbose       0
/event/verbose     0
/tracking/verbose  0


### CONTROL
/nexus/random_seed            -1
/nexus/persistency/start_id   0
/nexus/persistency/outputFile OpticalTestGeometry.next
